/* Justin CSS */
.navbar-item{
    background-color: rgb(47, 196, 255);
    font-size: 15px;
}

.ttitle{
    display: flex;
    margin-top: 70px;
    justify-content: center;
    padding: 5px;
}
.column{
    margin: 15px;
    background-color: blanchedalmond;
}
.cardtext{
    margin: 5px;
    color: lightcoral;
}
/* Ends */

.wrapper {
    width: 400px;

}

.container {
    background-color: red;
    padding: 50px 40px;
    border-radius: 8px;
    text-align: center;
}

.container p {
    color: #fdd8d8;
    line-height: 2;
    font-size: 18px;
}

.container h3 {
    color: #ffffff;
    margin: 20px 0 60px 0;
    font-weight: 600;
    text-transform: capitalize;
}

.container button {
    background-color: #ffffff;
    border: none;
    padding: 15px 45px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    color: red;
    cursor: pointer;
}